<!--Introduction-->
<section id="about" class="introduction scrollto">

  <div class="row clearfix">

    <div class="col-3">
      <div class="section-heading">
        <h3>SUCCESS</h3>
        <h2 class="section-title">How you can increase project value by having my experience</h2>
        <p class="section-subtitle">
          Having near 3 years of experience in building extensive user interface systems for several
          web applications as a Fullstack Developer, creating new websites, webservices
          and fine tuning based on customer requirements.
          Able to create designs and develop features from scratch till becomes a full fledge software.
        </p>
      </div>

    </div>

    <div class="col-2-3">

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-html5 fa-2x"></i>
          <!-- <i class="fa fa-css3 fa-2x"></i>
          <i class="fa fa-js fa-2x"></i> -->
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>HTML5 &amp; CSS3 &amp; JS</h4>
          <p>
            Fluent in HTML5, CSS3 and Javascript with multiple projects going live.
            This includes specializing in only developing a vanilla page with ajax while other involving RESTfull
            API.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-bolt fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>Angular</h4>
          <p>
            Components and configurations for front-end development. 
            Using NodeJs as well as RESTfull API. 
            Made a DMS system using Angular 7 then upgraded it to Angular 8. 
            Currently using Angular 10.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-tachometer fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>React</h4>
          <p>
            Projects related to web development and infographics. 
            Made a POC for research purposes that co-relates with possibility of use with certain software themes.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <div class="icon">
          <i class="fa fa-vimeo fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <h4>VueJs</h4>
          <p>
            Projects related to web development and infographics. 
            Made a POC for pre project research on whether VueJs was the framework to be use for this.
            Increase choices for possibility of use base on software themes.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

    </div>

  </div>


</section>
<!--End of Introduction-->
